<div class="col-md-6 offset-md-3">
    <div class="container-xsm">

        <h3 class="text-center display-3 m-3">Patients List</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Patient Id</th>
                    <th>Name</th>
                    
                    <th>Date</th>
                    
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let p of patient">
                    <td>{{p.petientId}}</td>
                    <td>{{p.name}}</td>
                   
                    <td>{{p.date}}</td>
                    
                    <td><button class="btn" (click)="viewPatient(p.petientId)" style="background-color:#012E57;color:white;">View Full Details</button></td>
                    
                </tr>
            </tbody>
        </table>
    </div>

</div>