<div class="container-xxsm m-3 p-3">
    <h4 class="text-center">Welcome To STARTTOON </h4>

    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, id ab. Quas, nihil nobis
        debitis nemo
        repellat assumenda similique tempore eligendi mollitia velit, unde et omnis! Unde neque quisquam deleniti
        dolorem! Velit impedit assumenda eius beatae dignissimos modi deleniti soluta excepturi libero, obcaecati
        possimus ducimus. Repellendus aspernatur, eum omnis excepturi earum sequi sunt itaque nisi! Provident veniam
        eius, iste fugit magni voluptatibus vero commodi aperiam necessitatibus! Rem sed quam nemo aliquam distinctio
        nihil nobis beatae! Sequi architecto assumenda aliquid blanditiis porro rerum harum consequuntur provident eum
        natus explicabo dolore soluta laborum, vel omnis quasi hic a totam non sed ex.</p>

    <div class="text-center">
        <a  class="btn btn-success btn-sm m-2" routerLink="/viewPatients">View Patients</a>

        <a  class="btn btn-danger btn-sm m-2" routerLink="/addPatients">Add Patient</a>
    </div>


</div>

<footer class="footer">
    <div class="container-xlg bg-dark mt-2 text-white p-5 " style="width: 100%;">

        <p class="lead text-center">
            Copyright &copy; Aniket
        </p>
    </div>
</footer>